<header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
</header>
{{#if error_login}}
    <div class="alert alert-danger">{{error_login}}</div>
{{/if}}
{{#if success_login}}
    <div class="alert alert-success">{{success_login}}</div>
{{/if}}
<div class="container-fluid flex border border-dark p-3 my-3 mt-3" >
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor da compra</th>
                <th>Data da compra</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each retorno}}
            <tr>
                <th>{{produto.nome}}</th>
                <th>R${{preco}}</th>
                <th>{{#formatDate createdAt}}{{/formatDate}}</th>
                <th><a href="http://localhost:8080/usuario/excluir/{{id}}">
                    <button class="btn btn-dark">excluir</button>
                </a>
                </th>
                <th><a href="http://localhost:8080/compra/alterar/{{id}}">
                    <button class="btn btn-dark">alterar</button>
                </a>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="http://localhost:8080/usuario/principal">
        <button class="btn btn-dark ml-10">Voltar</button>
    </a>
   
</div>